<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="PlantUmlStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="PlantUmlStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
	<applicationSettings>
		<PlantUmlStudio.Properties.Settings>
   <setting name="PlantUmlDownloadLocation" serializeAs="String">
    <value>http://downloads.sourceforge.net/sourceforge/plantuml/plantuml.jar</value>
   </setting>
   <setting name="PlantUmlFileExtension" serializeAs="String">
    <value>.puml</value>
   </setting>
   <setting name="PlantUmlVersionSource" serializeAs="String">
    <value>http://plantuml.sourceforge.net/plantumlVersionRss.xml</value>
   </setting>
   <setting name="PlantUmlRemoteVersionPattern" serializeAs="String">
    <value>.*version (?&lt;version&gt;\d{4,5})[\s]+.*</value>
   </setting>
   <setting name="PlantUmlHighlightingDefinition" serializeAs="String">
    <value>.\PlantUML.xshd</value>
   </setting>
   <setting name="PlantUmlLocalVersionPattern" serializeAs="String">
    <value>.*version (?&lt;version&gt;\d{4,5})[\s].*</value>
   </setting>
   <setting name="GraphVizLocalVersionPattern" serializeAs="String">
    <value>.*version[\s]+(?&lt;version&gt;.+)[\s]+.*</value>
   </setting>
   <setting name="GraphVizRemoteVersionPattern" serializeAs="String">
    <value>.*&lt;h4&gt;New Release[\s]+(?&lt;version&gt;[0-9]+\.[0-9]+)[\s]+.*</value>
   </setting>
   <setting name="GraphVizVersionSource" serializeAs="String">
    <value>http://www.graphviz.org/News.php</value>
   </setting>
   <setting name="GraphVizDownloadLocation" serializeAs="String">
    <value>http://www.graphviz.org/Download.php</value>
   </setting>
  </PlantUmlStudio.Properties.Settings>
	</applicationSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup><userSettings>
  <PlantUmlStudio.Properties.Settings>
   <setting name="LastPath" serializeAs="String">
    <value />
   </setting>
   <setting name="GraphVizLocation" serializeAs="String">
    <value>dot.exe</value>
   </setting>
   <setting name="PlantUmlLocation" serializeAs="String">
    <value>.\PlantUML\plantuml.jar</value>
   </setting>
   <setting name="RememberOpenFiles" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoSaveEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AutoSaveInterval" serializeAs="String">
    <value>00:00:30</value>
   </setting>
   <setting name="MaximumRecentFiles" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="HighlightCurrentLine" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowLineNumbers" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="EnableVirtualSpace" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="EnableWordWrap" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="EmptySelectionCopiesEntireLine" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AllowScrollingBelowContent" serializeAs="String">
    <value>False</value>
   </setting>
  </PlantUmlStudio.Properties.Settings>
 </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
