<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  
	<Product Id="*" Name="PlantUML Studio" Language="1033" Version="2.0.0.0" Manufacturer="Matt Hamilton" UpgradeCode="51D909D7-1787-445A-9111-39F63411BDBD">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>
		<MediaTemplate EmbedCab="yes"/>
        <PropertyRef Id="NETFRAMEWORK45"/>
    
        <Condition Message="This application requires .NET Framework v4.5. Please install the .NET Framework then run this installer again.">
          Installed OR NETFRAMEWORK45
        </Condition>

        <Feature Id="ApplicationFeature" Title="PlantUmlStudio.Setup" Level="1">
          <ComponentGroupRef Id="ApplicationComponents"/>
          <ComponentGroupRef Id="HighlightingDefinitions"/>
          <ComponentGroupRef Id="CopyrightFiles"/>
          <ComponentRef Id="PlantUmlLib"/>
          <ComponentGroupRef Id="SnippetsGroup"/>
        </Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLDIR" Name="PlantUML Studio">
                  <Directory Id="PlantUmlDir" Name="PlantUML"/>
                </Directory>
            </Directory>

            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="PlantUML Studio"/>
            </Directory>

		</Directory>
	</Fragment>

	<Fragment>
    
    <ComponentGroup Id="ApplicationComponents" Directory="INSTALLDIR">
      
      <Component Id="ApplicationExecutable" Guid="9D0395E4-F422-4DB1-9275-C50A5B38DD89">
        <File Id="PlantUmlStudioExe" Name="$(var.PlantUmlStudio.TargetFileName)" Source="$(var.PlantUmlStudio.TargetPath)" KeyPath="yes">
          <Shortcut Id="StartMenuMainExecutable" Directory="ProgramMenuDir" Name="PlantUML Studio" 
                    WorkingDirectory='INSTALLDIR' Advertise="yes"/>
        </File>
        <RemoveFile Id="DeleteShortCut" Directory="ProgramMenuDir" Name="PlantUML Studio" On="uninstall"/>
        <RemoveFolder Id="DeleteShortcutDir" Directory="ProgramMenuDir" On="uninstall"/>
      </Component>

      <Component Id="ApplicationConfig" Guid="1C732BE3-01C3-4120-8AFC-26554435DFAE">
        <File Id="PlantUmlStudioConfig" Name="$(var.PlantUmlStudio.TargetFileName).config" Source="$(var.PlantUmlStudio.TargetPath).config" KeyPath="yes"/>
      </Component>

      <Component Id="CoreLib" Guid="9A67589B-282D-4F7F-8A8A-B3039068C396">
        <File Id="CoreDll" Name="$(var.PlantUmlStudio.Core.TargetFileName)" Source="$(var.PlantUmlStudio.Core.TargetPath)" KeyPath="yes"/>
      </Component>

      <Component Id="UtilitiesLib" Guid="944C2166-C650-4EE3-9181-C4D8E38889A2">
        <File Id="UtilitiesDll" Name="$(var.Utilities.TargetFileName)" Source="$(var.Utilities.TargetPath)" KeyPath="yes"/>
      </Component>

      <Component Id="ControlsUtilitiesLib" Guid="ED98CB99-92A5-4F3A-992C-B408D4BDDBAA">
        <File Id="ControlsUtilitiesDll" Name="$(var.Utilities.Controls.TargetFileName)" Source="$(var.Utilities.Controls.TargetPath)" KeyPath="yes"/>
      </Component>

      <Component Id="AvalonEditLib" Guid="1C90DA3F-9452-4DCD-84D7-50756A7C5A36">
        <File Id="AvalonEditDll" Name="ICSharpCode.AvalonEdit.dll" Source="$(var.PlantUmlStudio.TargetDir)ICSharpCode.AvalonEdit.dll" KeyPath="yes"/>
      </Component>

      <Component Id="AutofacLib" Guid="D2C221D7-5A6A-402A-B8C3-6ECFD4D1DA4C">
        <File Id="AutofacDll" Name="Autofac.dll" Source="$(var.PlantUmlStudio.TargetDir)Autofac.dll" KeyPath="yes"/>
        <File Id="AutofacConfigDll" Name="Autofac.Configuration.dll" Source="$(var.PlantUmlStudio.TargetDir)Autofac.Configuration.dll"/>
      </Component>

      <Component Id="InteractivityLib" Guid="C38215DF-D656-4E5E-B045-AD4674306309">
        <File Id="WindowsInteractivityDll" Name="System.Windows.Interactivity.dll" Source="$(var.PlantUmlStudio.TargetDir)System.Windows.Interactivity.dll" KeyPath="yes"/>
        <File Id="ExpressionInteractionsDll" Name="Microsoft.Expression.Interactions.dll" Source="$(var.PlantUmlStudio.TargetDir)Microsoft.Expression.Interactions.dll"/>
      </Component>

      <Component Id="SharpVectorsLib" Guid="7FA1CEC8-D9CD-4472-8826-1A0C9213C6F6">
        <File Id="SharpVectorsCoreDll" Name="SharpVectors.Core.dll" Source="$(var.PlantUmlStudio.TargetDir)SharpVectors.Core.dll" KeyPath="yes"/>
        <File Id="SharpVectorsModelDll" Name="SharpVectors.Model.dll" Source="$(var.PlantUmlStudio.TargetDir)SharpVectors.Model.dll"/>
        <File Id="SharpVectorsDomDll" Name="SharpVectors.Dom.dll" Source="$(var.PlantUmlStudio.TargetDir)SharpVectors.Dom.dll"/>
        <File Id="SharpVectorsCssDll" Name="SharpVectors.Css.dll" Source="$(var.PlantUmlStudio.TargetDir)SharpVectors.Css.dll"/>
        <File Id="SharpVectorsWpfDll" Name="SharpVectors.Rendering.Wpf.dll" Source="$(var.PlantUmlStudio.TargetDir)SharpVectors.Rendering.Wpf.dll"/>
        <File Id="SharpVectorsRuntimeDll" Name="SharpVectors.Runtime.dll" Source="$(var.PlantUmlStudio.TargetDir)SharpVectors.Runtime.dll"/>
        <File Id="SharpVectorsConvertersDll" Name="SharpVectors.Converters.dll" Source="$(var.PlantUmlStudio.TargetDir)SharpVectors.Converters.dll"/>
      </Component>

    </ComponentGroup>

    <ComponentGroup Id="HighlightingDefinitions" Directory="INSTALLDIR">
      
      <Component Id="PlantUmlDefinition" Guid="478EC21B-8F42-4977-872B-13B186B6BCB4">
        <File Id="PlantUmlXshd" Name="PlantUML.xshd" Source="$(var.PlantUmlStudio.TargetDir)PlantUML.xshd" KeyPath="yes"/>
      </Component>
      
    </ComponentGroup>
    
    <ComponentGroup Id="CopyrightFiles" Directory="INSTALLDIR">
      
      <Component Id="License" Guid="A2014049-0A93-40DA-8611-DB5F5DA1B99A">
        <File Id="LicenseFile" Name="LICENSE" Source="$(var.SolutionDir)LICENSE" KeyPath="yes"/>
      </Component>

      <Component Id="Notice" Guid="F60F5D23-E5EE-4C8F-9566-3737544B3247">
        <File Id="NoticeFile" Name="NOTICE" Source="$(var.SolutionDir)NOTICE" KeyPath="yes"/>
      </Component>
    
    </ComponentGroup>

    <Component Id="PlantUmlLib" Directory="PlantUmlDir" Guid="64DD6AFF-6AAC-4280-8FD3-EF485FE4233D">
      <File Id="PlantUmlJar" Name="plantuml.jar" Source="$(var.SolutionDir)plantuml.jar" KeyPath="yes"/>
      <RemoveFile Id="PlantUmlBackups" Name="plantuml.jar_*.bak" On="uninstall"/>
    </Component>

	</Fragment>
</Wix>