<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="PlantUmlEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="PlantUmlEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
	<applicationSettings>
		<PlantUmlEditor.Properties.Settings>
   <setting name="DownloadUrl" serializeAs="String">
    <value>http://downloads.sourceforge.net/sourceforge/plantuml/plantuml.jar</value>
   </setting>
   <setting name="PlantUmlFileExtension" serializeAs="String">
    <value>.puml</value>
   </setting>
   <setting name="PlantUmlVersionSource" serializeAs="String">
    <value>http://plantuml.sourceforge.net/plantumlVersionRss.xml</value>
   </setting>
   <setting name="PlantUmlRemoteVersionPattern" serializeAs="String">
    <value>.*version (?&lt;version&gt;\d{4,5})[\s]+.*</value>
   </setting>
   <setting name="PlantUmlHighlightingDefinition" serializeAs="String">
    <value>.\PlantUML.xshd</value>
   </setting>
   <setting name="PlantUmlLocalVersionPattern" serializeAs="String">
    <value>.*version (?&lt;version&gt;\d{4,5})[\s].*</value>
   </setting>
   <setting name="GraphVizLocalVersionPattern" serializeAs="String">
    <value>.*version[\s]+(?&lt;version&gt;.+)[\s]+.*</value>
   </setting>
  </PlantUmlEditor.Properties.Settings>
	</applicationSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
  <PlantUmlEditor.Properties.Settings>
   <setting name="LastPath" serializeAs="String">
    <value />
   </setting>
   <setting name="GraphVizLocation" serializeAs="String">
    <value />
   </setting>
   <setting name="PlantUmlLocation" serializeAs="String">
    <value>.\ThirdParty\plantuml.jar</value>
   </setting>
  </PlantUmlEditor.Properties.Settings>
 </userSettings>
</configuration>
