<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="PlantUmlEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="PlantUmlEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
	<applicationSettings>
		<PlantUmlEditor.Properties.Settings>
   <setting name="SetupExeName" serializeAs="String">
    <value>PlantUmlSetup.exe</value>
   </setting>
   <setting name="DownloadUrl" serializeAs="String">
    <value>http://downloads.sourceforge.net/sourceforge/plantuml/plantuml.jar</value>
   </setting>
  </PlantUmlEditor.Properties.Settings>
	</applicationSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
  <PlantUmlEditor.Properties.Settings>
   <setting name="LastPath" serializeAs="String">
    <value />
   </setting>
   <setting name="GraphVizLocation" serializeAs="String">
    <value />
   </setting>
  </PlantUmlEditor.Properties.Settings>
 </userSettings>
</configuration>
